@model IEnumerable<Category>

    <h1>Category List</h1>

    <table class=" table table-hover" width="100%">

        <tr>

            <td>Name</td>
            <td>Description</td>
            <td>CreatedTime</td>
        </tr>
        @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.Description</td>

        </tr>
    }


    </table>